include MANIFEST.in
include README.html
include README.rst
include bb-freeze
include bbfreeze/__init__.py
include bbfreeze/bdist_bbfreeze.py
include bbfreeze/codehack.py
include bbfreeze/console.c
include bbfreeze/consolew.c
include bbfreeze/eggutil.py
include bbfreeze/ensure_setuptools.py
include bbfreeze/freezer.py
include bbfreeze/getdeps.py
include bbfreeze/getpath.c
include bbfreeze/load_console.py
include bbfreeze/loader_impl.h
include bbfreeze/modulegraph/__init__.py
include bbfreeze/modulegraph/find_modules.py
include bbfreeze/modulegraph/modulegraph.py
include bbfreeze/modulegraph/util.py
include bbfreeze/py.py
include bbfreeze/recipes.py
include ez_setup.py
include setup.cfg
include setup.py
include showvars.py
include tests/baz/__init__.py
include tests/baz/dom/__init__.py
include tests/baz/dom/expatbuilder.py
include tests/baz/parsers/__init__.py
include tests/baz/parsers/expat.py
include tests/bazscript.py
include tests/conftest.py
include tests/ex-celementtree.py
include tests/ex-email_mimetext.py
include tests/ex-fsenc.py
include tests/ex-kinterbasdb.py
include tests/ex-matplotlib.py
include tests/ex-mbox.py
include tests/ex-pylog.py
include tests/ex-pythoncom.py
include tests/ex-pywintypes.py
include tests/ex-time.py
include tests/ex-tkinter.py
include tests/ex-wxpython.py
include tests/hello-world.py
include tests/relimport/__init__.py
include tests/relimport/forms.py
include tests/test_filesystemencoding.py
include tests/test_guiscript.py
include tests/test_relimport.py
include tests/test_script.py
include tests/wx-example.py
include tox.ini
